<h1>New Pet</h1>
<form action='/pets/new' method="POST">
    <label for="name">Name: </label>
    <imput type="text" name="name" placeholder="Enter Name" /><br>

    <label for="imgUrl">Image: </label>
    <imput type="text" name="imgUrl" placeholder="Enter Image URL" /><br>

    <label for="description">Description: </label>
    <imput type="text" name="description" placeholder="Description" /><br>

    <button type="submit">Add Pet</button>
</form>